<div th:fragment="coda" class="footer">
	<h3>La Paninoteca Srl</h3>
	<hr class="hr1">
	
	<p><a href>clienti@LaPaninoteca.com</a></p>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<a href="#" class="fa fa-facebook"></a>
    <a href="#" class="fa fa-whatsapp"></a>
    <a href="#" class="fa fa-twitter"></a>
    <a href="#" class="fa fa-instagram"></a>
	<br><br>
	<p><a href="tel:+4733378901">tel:+39 333 78 901</a></p>
	<p><a href= "https://www.google.com/maps/place/Corso+Cavour,+Bari+BA/@41.1214334,16.8725116,3a,75y,90t/data=!3m7!1e1!3m5!1svQK01muDYyWQHw-gsBb6-w!2e0!6s%2F%2Fgeo3.ggpht.com%2Fmaps%2Fphotothumb%2Ffd%2Fv1%3Fbpb%3DChEKD3NlYXJjaC5nd3MtcHJvZBIgChIJ1UfojF3oRxMRY5l1LHVdxTAqCg0AAAAAFQAAAAAaBQh4EOgC%26gl%3DIT!7i13312!8i6656!4m5!3m4!1s0x1347e85d8ce847d5:0x30c55d752c759963!8m2!3d41.1208409!4d16.872566">Bari, Corso cavour 116</a></p>
	<p>Copyright &copy; 2021. La Paninoteca. All Rights Reserved</p>
	<p><a href= "https://www.garanteprivacy.it/documents/10160/10704/Direttiva+95+46+CE.pdf">Il sito è realizzato nel rispetto della privacy policy vigente: Direttiva 95/46/CE</a></p>
	<br>
	<p> Back-end progettato da:</p>
		<p>Carlo Ricchiuti</p>
		
 </div>
